Package: com.huami.wbnoads
Name: WBNoAds
Version: 1.0.2
Architecture: iphoneos-arm
Author: huami & xx_gnn
Description: Give you a pure Weibo
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
